/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer {
  overflow: hidden;
  position: relative; }

.jspPane {
  position: absolute; }

.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 100%;
  background: red; }

.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: red; }

.jspCap {
  display: none; }

.jspHorizontalBar .jspCap {
  float: left; }

.jspTrack {
  background: #dde;
  position: relative; }

.jspDrag {
  background: #bbd;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer; }

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%; }

.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0; }

.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d; }

.jspVerticalBar .jspArrow {
  height: 16px; }

.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%; }

.jspVerticalBar .jspArrow:focus {
  outline: none; }

.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%; }

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
  margin: 0 -3px 0 0; }

.card {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 5px;
  background-repeat: no-repeat;
  text-align: left; }
  .card + .card {
    margin-left: 1px; }
  .card.center {
    background-position: center; }
  .card.top-left {
    background-position: top left; }
  .card.bottom-right {
    background-position: bottom right; }
  .card .category {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0.1em 0.3em 0.1em 0.4em;
    margin: 0;
    font-weight: normal;
    font-size: 0.7em;
    text-transform: uppercase; }
    .card .category.news {
      background-color: #bd1e49; }
    .card .category.sports {
      background-color: #d74f2a; }
    .card .category.arts-entertainment {
      background-color: #0091a5; }
    .card .category.opinion {
      background-color: #9900a1; }
    .card .category.video {
      background-color: #004c9a; }
    .card .category.radio {
      background-color: #66a0d2; }
    .card .category.blogs {
      background-color: #009a00; }
    .card .category.classifieds {
      background-color: #666666; }
  .card .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    vertical-align: bottom;
    margin: 0.5em; }
    .card .caption h2 {
      font-family: "Roboto Condensed", sans-serif;
      line-height: 1.2em;
      color: #fff;
      font-size: 1.3em;
      font-weight: 400;
      margin: 0 0 4px 0;
      text-shadow: 0.05em 0.05em #000; }
    .card .caption .teaser {
      display: block;
      color: #fff;
      font-size: 0.8em;
      font-weight: normal; }
  .card .card-decoration {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15);
    box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15);
    width: 100%;
    height: 100%;
    /* gradient (generated with http://www.colorzilla.com/gradient-editor/) */
    background: -moz-linear-gradient(top, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(50%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), color-stop(100%, rgba(0, 0, 0, 0.8)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    /* IE6-9 */ }
  .card:hover .card-decoration {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.3); }

body {
  background-color: #222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  border: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #888; }

article {
  padding: 0 15px;
  position: absolute;
  width: 610px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -320px;
  background-color: white;
  z-index: 100;
  box-shadow: 0 0 20px black;
  text-rendering: optimizeLegibility;
  font-size: 0.95em;
  overflow-y: scroll; }
  article p {
    line-height: 1.6; }

#mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 90;
  transition: background-color 0.15s;
  cursor: pointer; }
  #mask:hover {
    background-color: rgba(0, 0, 0, 0.6); }

.cards {
  text-align: center; }
