{% load humanize %}
{% load markdown %}
{% load shortcodes %}

<progress value="0"></progress>
<div class="infobar">
    <span class="reading-time"><!-- gets populated in main.js --></span>
    <span class="category">{{ article.category.name }}</span>
    story published
    <span class="publish-day">{{ article.publish_time|naturalday }}</span> 
    (<span class="publish-time">{{ article.publish_time|naturaltime }}</span>)
</div>

{% if article.is_breaking %}
<div class="breaking">
    Breaking
</div>
{% endif %}

<div class="featured-media">
    {% with featured=True image=article.get_featured_image video=article.featured_video audio=article.featured_audio %}

        {% if image %}
            {% include "news/inc/image.html" %}
        {% endif %}

        {% if video %}
            {% include "news/inc/video.html" %}
        {% endif %}

        {% if audio %}
            {% include "news/inc/audio.html" %}
        {% endif %}

    {% endwith %}
</div>

<h1 class="title">{{ article.title }}</h1>
<h2 class="subhead">{{ article.subhead }}</h2>
{% if article.author.all %}
<div class="author">By {{ article.get_pretty_authors }}</div>
{% endif %}

{% if article.review %}
    {% with review=article.review %}
        {% include "news/inc/review.html" %}
    {% endwith %}
{% endif %}

<div class="body">{{ article.body|markdown|all_shortcodes }}</div>
<div class="share">
    Share this story 
    <a class="facebook" target="_blank"><!-- href property populated in main.js--><img src="{{ STATIC_URL }}news/img/facebook-icon-color.svg"/></a>
    <a class="twitter" target="_blank" href="https://twitter.com/home?status={{ article.title }}"><img src="{{ STATIC_URL }}news/img/twitter-icon-color.svg"/></a>
</div>

{% for author in article.author.all %}
<div class="about-author">
    <h1>About the author</h1>
    <h2>{{ author.full_name }}</h2>
    {{ author.bio|markdown }}
    <div class="social-media">
        <a class="twitter" href="http://twitter.com/{{ author.twitter }}"><img src="{{ STATIC_URL }}news/img/twitter-icon-monochrome.svg"/>@{{ author.twitter }}</a>
        <a class="email" href="mailto:{{ author.email }}"><img src="{{ STATIC_URL }}news/img/email-icon.svg"/>{{ author.email }}</a>
    </div>
</div>
{% endfor %}

<div class="follow">
    Follow Daily Bruin <strong>{{ article.category }}</strong> on <strong>Facebook</strong> / <strong>Twitter</strong>
    <p>{{ article.category.description }}</p>
    <span class="facebook">{{ article.category.facebook }}</span>
    <span class="twitter">{{ article.category.twitter }}</span>
</div>
