{% load thumbnail %}

<figure class="{% if featured and image.image|is_portrait or align == "right" %}right{% elif align == "left" %}left{% else %}full{% endif %}">
    <a class="popup image" href="{{ image.image.url }}">
        {% if featured and image.image|is_portrait or align == "right" or align == "left" %}
        <img src="{% thumbnail image.image "320" %}"/>
        {% else %}
        <img src="{% thumbnail image.image "640" %}"/>
        {% endif %}
        {% if image.credit.count %}
            {% with media=image %}
                {% include "news/inc/media_credit.html" %}
            {% endwith %}
        {% endif %}
    </a>
    <figcaption>{{ image.caption }}</figcaption>
</figure>
