{% load thumbnail %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Student-run newspaper of the University of California, Los Angeles."/>
    <title>Daily Bruin</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'/>
    <link href="{{ STATIC_URL }}news/css/main.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="image/favicon.ico"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}news/js/main.js"></script>
</head>
<body>
    <header>
    </header>

    <div id="mask"></div>
    <article>
        <figure class="featured-image">
            <div class="image">
                <img src="{% thumbnail "640" article.featured_image.image %}"/>
                <div class="credit">{{ article.featured_image.credit }}</div>
            </div>
            <figcaption>{{ article.featured_image.caption }}</figcaption>
        </figure>
        <figure class="featured-video">
            <div class="video"></div>
            <div class="credit">{{ article.featured_video.credit }}</div>
            <figcaption>{{ article.featured_video.caption }}</figcaption>
        </figure>
        <figure class="featured-audio">
            <div class="audio"></div>
            <div class="credit">{{ article.featured_audio.credit }}</div>
            <figcaption>{{ article.featured_audio.caption }}</figcaption>
        </figure>
        <h1 class="title">{{ article.title }}</h1>
        <h2 class="subhead">{{ article.subhead }}</h2>
        <div class="author">{{ article.author }}</div>
        <div class="body">{{ article.body }}</div>
        <div class="about-author"></div>
        <div class="about-category"></div>
    </article>

    <div id="main">
    {% block content %}{% endblock %}
    </div>
    <footer>
    </footer>
</body>
</html>
