{% extends "news/base.html" %}
{% load thumbnail %}

{% block content %}
    
<div class="cards">
    {% for article in articles %}

    <a data-id="{{ article.pk }}" 
       data-position="{{ article.position }}"
       data-ss-colspan="{{ article.card_size.width }}"
       data-ss-original-colspan="{{ article.card_size.width }}"
       href="{{ article.get_path }}" 
       class="card {% if article.card %}{{ article.get_card_crop_display }}{% else %}no-image{% endif %} row-{{ article.card_size.height }}" 
       style="background-image: url({% if article.card.aspect_ratio < article.card_size.aspect_ratio %} 
                                        {# image is narrower than card #}
                                        {% if article.card_size.width > 1 %} 
                                            {# card spans more than one column, factor card margin into width #}
                                            {% widthratio "300"|add:10 1 article.card_size.width as width %}
                                        {% else %}
                                            {% widthratio "300" 1 article.card_size.width as width %}
                                        {% endif %}
                                        {% thumbnail article.card width %}
                                    {% else %}
                                        {# image is wider than card #}
                                        {% if article.card_size.height > 1 %}
                                            {# card spans more than one row, factor card margin into height #}
                                            {% widthratio "300"|add:10 1 article.card_size.height as height %}
                                        {% else %}
                                            {% widthratio "300" 1 article.card_size.height as height %}
                                        {% endif %}
                                        {% thumbnail article.card "x"|add:height %}
                                    {% endif %})">
        <div class="category {% if article.category.parent %}
                                 {{ article.category.parent.slug }}
                             {% else %}
                                 {{ article.category.slug }}
                             {% endif %}">
            {{ article.category.name }}
            
        </div>
        <div class="card-decoration">
            <div class="caption">
                <h2>{{ article.title }}</h2>
                <span class="teaser">{{ article.teaser }}</span>
            </div>
        </div>
    </a>

    {% endfor %}
</div>

{% endblock %}
