<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Prime | Daily Bruin</title>
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.stalactite.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
</head>
<body>
    <script>
        $(document).ready(function(){
            $('header, footer').css({
                "background": "url('{{ MEDIA_URL }}{{ issue.header_image }}') no-repeat center center fixed",
                "-webkit-background-size": "cover",
                "-moz-background-size": "cover",
                "-o-background-size": "cover",
                "background-size": "cover"
            });
        });
    </script>
    {% block header %}
        <header>
            <a href="http://dailybruin.com"><img src="{{ STATIC_URL }}img/nameplate.png"/></a>
            <a class="banner" href="{% url 'prime_issue' '' %}"><img src="{{ STATIC_URL }}img/logo_banner.png" alt="Prime"/></a>
            <a class="current-issue" href="{% url 'prime_issue' issue.slug %}">{{ issue.name }}</a>
            <div class="previous-issues">
                {% for issue in recent_issues %}
                    <a href="{% url 'prime_issue' issue.slug %}"><span class="issue">{{ issue.name }}</span></a>
                {% endfor %}
            </div>
        </header>
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
        <footer>
            <div class="refer">
                <h1>prime {{ issue.name }}</h1>
                {% for article in articles %}
                    <a class="article-refer" href="{% url 'prime_article' article.issue.slug article.slug %}">{{ article.title }}</a>
                {% endfor %}
                <div class="print-refer">
                    <a target="blank" href="{{ MEDIA_URL }}{{ pdf.pdf }}">
                        <h2>Read the {{ issue.name }} print magazine online:</h2>
                        <img src="{{ MEDIA_URL }}{{ pdf.image }}"/>
                   </a>
                </div>
                <span class="copyright">&copy; {{ issue.release_date|date:"Y" }} <a href="http://dailybruin.com/">Daily Bruin</a></div>
            </div>
        </footer>
    {% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-28181852-16', 'dailybruin.com');
        ga('send', 'pageview');
    </script>
</body>
</html>
