{% extends 'prime_base.html' %}

{% block content %}
    <script>
        $(document).ready(function(){ $('#articles').stalactite(); });
    </script>
    <div id="articles">
        {% for article in articles %}
            <a href="{% url 'prime_article' article.issue.slug article.slug %}">
                <span class="mask"></span>
                <span class="teaser">{{ article.teaser }}</span>
                <img src="{{ MEDIA_URL }}{{ article.lead_photo }}"/>
            </a>
        {% endfor %}
    </div>
{% endblock %}
