<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Prime | Daily Bruin</title>
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css">
    <script src="{{ STATIC_URL }}js/jquery.nested.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
</head>
<body>
    {% block header %}
        <header>
            <h1>Prime</h1>
            <h2>{{ issue.name }}</h2>
            {% for issue in recent_issues %}
                <span class="issue">{{ issue.name }}</span>
            {% endfor %}
        </header>
    {% endblock %}
    {% block content %}{% endblock %}
</body>
</html>
