{% extends 'prime_base.html' %}
{% load shortcodes %}
{% load markdown %}

{% block content %}
    <script>
        $(document).ready(function(){
            $.miniShare( { 
                message: "Share this", 
                done_message: "Thanks!",
                twitter_message: "{{ article.title }}, from @dailybruinprime's {{ article.issue.name }} issue"
            });
        });
    </script>
    <div class="article">
        <h1 class="headline">{{ article.title }}</h1>
        <span class="author">by 
        {% for author in article.author.all %}
            {% if forloop.last %}
                {{ author }}
            {% else %}
                {{ author }} and
            {% endif %}
        {% endfor %}    
        </span>
        {{ article.body|markdown|image|youtube }}
        <a class="refer-back" href="{% url 'prime_issue' article.issue.slug %}">&larr; back to the articles</a>
    </div>
{% endblock %}
