<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Prime | Daily Bruin</title>
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.stalactite.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
</head>
<body>
    <script>
        $(document).ready(function(){
            $('header, footer').css({
                "background": "url('{{ MEDIA_URL }}{{ issue.header_image }}') no-repeat center center fixed",
                "-webkit-background-size": "cover",
                "-moz-background-size": "cover",
                "-o-background-size": "cover",
                "background-size": "cover"
            });
        });
    </script>
    {% block header %}
        <header>
            <a class="banner" href="{% url 'prime_issue' '' %}"><img src="{{ STATIC_URL }}img/logo_banner.png" alt="Prime"/></a>
            <a class="current-issue" href="{% url 'prime_issue' issue.slug %}">{{ issue.name }}</a>
            <div class="previous-issues">
                {% for issue in recent_issues %}
                    <a href="{% url 'prime_issue' issue.slug %}"><span class="issue">{{ issue.name }}</span></a>
                {% endfor %}
            </div>
        </header>
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
        <footer>
            <div class="refer">
                <h1>prime {{ issue.name }}</h1>
                {% for article in articles %}
                    <a class="article-refer" href="{% url 'prime_article' article.issue.slug article.slug %}">{{ article.title }}</a>
                {% endfor %}
                <div class="print-refer">
                    <a target="blank" href="{{ MEDIA_URL }}{{ pdf.pdf }}">
                        <h2>Read the {{ issue.name }} print issue online:</h2>
                        <img src="{{ MEDIA_URL }}{{ pdf.image }}"/>
                   </a>
                </div>
                <span class="copyright">&copy; {{ issue.release_date|date:"Y" }} Daily Bruin</div>
            </div>
        </footer>
    {% endblock %}
</body>
</html>
