body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428;
}

a {
    border: 0;
    color: #05a;
    text-decoration: none;
}

    a:hover {
        color: #27c;
    }

h1, h2, h3, h4 {
    font-weight: normal;
    margin: 1.25em 0 0.25em 0;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
}

header {
    position: relative;
    color: white;
    text-shadow: 0 0 2px black;
    padding: 20px 40px;
    margin-bottom: 20px;
    box-shadow: 0 -1px 0 0 rgba(0,0,0, 0.2) inset;
    height: 150px;
}

    header .banner {
        position: absolute;
        bottom: 10px;
        left: 40px;
    }

    header .current-issue {
        position: absolute;
        font-size: 150%;
        bottom: 20px;
        left: 200px;
    }

    header .previous-issues {
        position: absolute;
        font-size: 125%;
        bottom: 20px;
        right: 40px;
    }

        header .previous-issues a {
            padding: 0 0.5em;
        }

header a, footer a {
    color: white;
}

header a:hover, footer a:hover {
    color: white;
    text-decoration: underline;
}

footer {
    box-shadow: 0 1px 0 0 rgba(0,0,0, 0.2) inset;
}

    footer a.article-refer {
        font-size: 150%;
        display: block;
        border-top: 1px solid rgba(255,255,255, 0.5);
        padding: 0.5em 0;
        line-height: 1.2;
    }

    footer .refer {
        width: 750px;
        max-width: 90%;
        padding: 10px;
        color: white;
        margin: 0 auto;
        background-color: rgba(0,0,0, 0.5);
    }

        footer .refer h1 {
            margin: 0.5em 0;
            font-size: 300%; 
        }
    
    footer .print-refer {
        padding-top: 0.5em;
        border-top: 1px solid rgba(255,255,255, 0.5);
    }

        footer .print-refer h2 {
            text-align: center;
        }

        footer .print-refer img {
            display: block;
            margin: 0 auto;
        }

figure {
    margin: 0;
    position: relative;
}

figure img {
    display: block;
    width: 100%;
}

figure figcaption {
    margin: 0.5em 0 1.5em 0;
    line-height: 1.216;
    color: gray;
    font-size: 0.9em;
}

figure.right, figure.left {
    width: 330px;
}

figure.right {
    float: right;
    left: 130px;
    margin-left: -110px;
}

figure.left {
    float: left;
    right: 130px;
    margin-right: -110px;
}

figure.fullwidth {
    width: 100%;
}

figure .image {
    position: relative;
}

figure .credit {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 4px;
    font-size: 0.7em;
    background-color: rgba(0,0,0, 0.25);
    color: rgba(255,255,255, 0.75);
}

#header-background {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

.headline {
    font-size: 300%;
    margin: 0.75em 0 0.25em 0;
    line-height: 1.3;
}

.article {
    width: 500px;
    margin: 0 auto 2.5em auto;
}

.author {
    display: block;
    margin-bottom: 2em;
    color: gray;
}

#articles {
    text-align: center;
    padding-bottom: 1em;
}

    #articles .mask {
        position: absolute;
        width: 100%; height: 100%;
        background-color: rgba(0,0,0, 0.2);
        opacity: 0;
        -moz-transition: opacity 0.25s, -moz-transform 0.25s;
        -webkit-transition: opacity 0.25s, -webkit-transform 0.25s;
        -o-transition: opacity 0.25s, -o-transform 0.25s;
        transition: opacity 0.25s, transform 0.25s;
    }

    #articles a {
        position: relative;
    }

        #articles a:hover .teaser {
            opacity: 1;
        }

        #articles a:hover .mask {
            opacity: 1;
        }

        #articles a .teaser {
            width: 300px;
            height: 150px;
            position: absolute;
            left: 50%;
            top: 50%; 
            margin-left: -150px;
            margin-top: -75px;
            color: white;
            font-size: 1.5em;
            text-shadow: 0 0 20px black;
            opacity: 0;
            -moz-transition: opacity 0.25s, -moz-transform 0.25s;
            -webkit-transition: opacity 0.25s, -webkit-transform 0.25s;
            -o-transition: opacity 0.25s, -o-transform 0.25s;
            transition: opacity 0.25s, transform 0.25s;
        }

.copyright {
    display: block;
    font-size: 0.8em;
    text-align: center;
    margin-top: 1em;
}
