article {
    $horizontal_padding: 30px;
    $total_width: 640px;
    $width: $total_width - ($horizontal_padding*2);
    padding: 0 $horizontal_padding;
    position: absolute;
    width: $width;
    min-height: 100%;
    top: 0;
    left: 50%;
    margin-left: -$width/2 - $horizontal_padding;
    background-color: white;
    z-index: 100;
    box-shadow: 0 0 20px black;
    text-rendering: optimizeLegibility;
    font-size: 1.15em;

    p {
        line-height: 1.6;
    }

    blockquote {
        margin: 0;
        border-left: 4px solid lightgrey;
        padding-left: 1em;
    }

    figure {
        $caption_padding_top: 0.5rem;

        figcaption {
            position: relative;
            color: gray;
            line-height: 1.216;
            font-size: 0.9em;
            padding: $caption_padding_top 0 0.5em 0;

            .credit {
                position: relative;
                float: right;
                margin-top: -$caption_padding_top;
                margin-bottom: 0.5em;
            }
        }

        h1 {
            font-size: 1.25em;
            margin-top: 0.5em;
            margin-bottom: 0.25em;
        }

        .image {
            position: relative;
            display: block;

            img {
                display: block;
                width: 100%;
            }

        }

        audio {
            width: 100%;
        }

        .credit {
            position: absolute;
            bottom: 0; right: 0;
            padding: 0 4px;
            font-size: 0.7rem;
            background-color: rgba(0,0,0, 0.5);
            color: rgba(255,255,255, 0.9);

            .name {
                font-weight: bold;
            }
        }

        &.full {
            margin: 0 (-$horizontal_padding);

            h1 {
                margin-left: $horizontal_padding;
                margin-right: $horizontal_padding;
            }

            figcaption {
                padding-left: $horizontal_padding;
                padding-right: $horizontal_padding;

                .credit {
                    margin-right: -$horizontal_padding;
                }
            }
        }

        &.left, &.right {
            width: $total_width/2;

            &.infobox {
                h1 {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }

        &.left {
            float: left;
            margin-left: -$horizontal_padding;
            margin-right: 20px;

            h1 {
                margin-left: $horizontal_padding;
            }

            figcaption {
                margin-left: $horizontal_padding;
            }
        }

        &.right {
            float: right;
            margin-right: -$horizontal_padding;
            margin-left: 20px;

            h1 {
                margin-right: $horizontal_padding;
            }

            figcaption {
                margin-right: $horizontal_padding;

                .credit {
                    margin-right: -$horizontal_padding;
                }
            }
        }

        &.infobox {
            padding: 1em $horizontal_padding;
            background-color: #eee;
            box-sizing: border-box;
        }
    }

    progress {
        /* from: http://css-tricks.com/reading-position-indicator/ */

        $color: $SECONDARY_LIGHT_COLOR;
        $width: $total_width;

        /* Positioning */
        position: fixed;
        left: 50%;
        top: 0;
        margin-left: -$width/2;
        z-index: 100;

        /* Dimensions */
        width: $width;
        height: 4px;

        /* Reset the appearance */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        /* Get rid of the default border in Firefox/Opera. */
        border: none;

        /* Progress bar container for Firefox/IE10+ */
        background-color: transparent;

        /* Progress bar value for IE10+ */
        color: $color;

        /* Vendor prefixes */
        &::-webkit-progress-bar {
            background-color: transparent;
        }

        &::-webkit-progress-value {
            background-color: $color;
        }

        &::-moz-progress-bar {
            background-color: $color;
        }
    }

    .infobar {
        margin: 0 (-$horizontal_padding);
        padding: 5px $horizontal_padding;
        background-color: black;
        font-size: 0.9rem;
        color: lightgray;
        font-style: italic;
        text-align: center;
    }

    .breaking {
        position: absolute;
        right: 0;
        text-transform: uppercase;
        background-color: red;
        color: white;
        font-weight: bold;
        padding: 0.1em 0.3em 0.1em 0.4em;
        font-size: 0.95em;
    }

    .title {
        font-size: 2em;
        margin-top: 0.5em;
        margin-bottom: 0.4em;
    }

    .subhead {
        margin-top: 0;
        font-weight: normal;
    }

    .author {
        color: gray;
    }

    .video {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px; /* bottom control bar height */
        height: 0;

        iframe {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
        }
    }

    .about-author {
        position: relative;
        border: 4px solid black;
        padding: 1em;
        font-size: 0.8em;
        line-height: 1;
        clear: both;
        margin-bottom: 2em;

        h1 {
            position: absolute;
            top: 0; right: 0;
            margin: 0;
            font-size: 1em;
            padding: 0.1em 0.4em;
            color: white;
            background-color: black;
        }

        h2 {
            margin: 0.3em 0;
        }

        p {
            line-height: 1.3;
        }

        .social-media {
            text-align: right;

            a {
                display: inline-block;
                margin: 0 0.4em;
            }

            img {
                display: inline-block;
                width: 20px;
                vertical-align: sub;
                margin-right: 0.2em;
            }
        }
    }

    .follow {
        float: left;
        font-family: $ROBOTO_CONDENSED;
    }

    .share {
        float: right;
        font-family: $ROBOTO_CONDENSED;
        font-weight: bold;
        margin-bottom: 1.5em;

        img {
            width: 30px;
            vertical-align: text-bottom;

            &:hover {
                background-color: rgba(0,0,0, 0.05);
            }
        }
    }
}
