.category {
    &.news {
        background-color: #bd1e49;
    }

    &.sports {
        background-color: #d74f2a;
    }

    &.arts-entertainment {
        background-color: #0091a5;
    }

    &.opinion {
        background-color: #9900a1;
    }

    &.video {
        background-color: #004c9a;
    }

    &.radio {
        background-color: #66a0d2;
    }

    &.blogs {
        background-color: #009a00;
    }

    &.classifieds {
        background-color: #666666;
    }
}
