// fonts
$HELVETICA: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ROBOTO_CONDENSED: 'Roboto Condensed', sans-serif;

// colors
$DARK_GRAY: #222;
$PRIMARY_COLOR: #09f;
$SECONDARY_COLOR: #06a;

// card
$CARD_DIMENSION: 300px;
$CARD_MARGIN: 5px;
$CARD_COLUMN: $CARD_DIMENSION + ($CARD_MARGIN*2);
