/* GENERAL */
body
{
	background: #222;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	overflow: -moz-scrollbars-horizontal;
}
a
{
	border: 0;
	text-decoration: none;
	color: #888;
}

#story
{
	display: block;
	position: absolute;
	top: 0;
	width: 700px;
	margin-left: -365px;
	left: 50%;
	height: 100%;
	background-color: #fff;
	z-index: 100;
	padding: 0 15px 0 15px;
	line-height: 1.0em;
}

#fade-back
{
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 99;
}

/* HEADER */
#banner
{
	display: block;
	margin: 0.8em auto 0.5em auto;
}

@media all and (max-width: 450px) {
  /* rules that only apply for canvases narrower than 449px */
#banner
{
	width: 300px;
	height: 47px;
}

}

header
{
	float: left;
	width: 100%;
	position: relative;
	display: block;
	top: 0;
	clear: both;
	/*
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
	*/
}

header h1
{
	color: #888;
	margin: 0;
	margin-left: 0.15em;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	float: left;
	text-shadow: 0.05em 0.05em #000;
	line-height: 1.2em;
	display: inline;
}

.down-arrow
{
	font-size: 0.4em;
	vertical-align: middle;
}

/* NAVIGATION */
nav
{
	display: inline;
	float: left;
}
/*
@media all and (max-width: 350px) {
  /* rules that only apply for canvases narrower than 350px *
nav
{
	display: block;
	float: none;
	margin-left: 0.2em;
}

}
*/
nav ul
{
	color: #888;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	list-style: none;
	position: relative;
	display: inline-table;
	font-size: 2em;
	text-shadow: 0.05em 0.05em #000;
	line-height: 1.2em;
}
	
nav a
{
	display: block;
}

nav ul:hover > ul
{
	display: block;
	z-index: 100;
	margin: 0 0.1em 0 0.1em;
}

	nav ul ul
	{
		display: none;
		font-size: 1em;
		background: rgba(0,0,0,0.9);
		position: absolute;
		top: 100%;
		left: -0.4em;
		/*border: 1px solid rgba(255,255,255,0.15);*/
		-moz-box-shadow:    0px 2px 8px 2px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.5);
		box-shadow:         0px 2px 8px 2px rgba(0,0,0,0.5);
		width: 5.2em;
		padding-bottom: 0.25em;
	}
	
	nav ul ul li:hover .swatch
	{
		visibility: visible;
	}
	
		nav ul ul li
		{
			padding: 0 0.25em 0 0.25em;
			margin: 0;
		}
		/*
		nav ul ul li:hover
		{
		background: #000;
		border-radius: 0;
		}
		*/
	nav ul li
	{
		margin: 0;
		padding: 0 0.3em 0 0.3em;
	}

		nav ul li:hover a
		{
			color: #bbb;
			/*
			background: #111;
			background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
			background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
			background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
			*/
		}
		
.swatch
{
	height: 20px;
	width: 5px;
	padding: 0;
	margin: 0 0.2em 0 0;
	display: inline-table;
	clear: both;
	visibility: hidden;
}

/* CONTENT */
div#main
{
	clear: both;
	width: 100%;
	margin: 0;
	padding: 0;
}

div#wrap
{
    width: 310px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

@media all and (min-width: 620px) {
  /* rules that only apply for canvases wider than 620px */
div#wrap
{
    width: 620px;
	margin-left: auto;
	margin-right: auto;
}
}

@media all and (min-width: 930px) {
  /* rules that only apply for canvases wider than 930px */
div#wrap
{
    width: 930px;
	margin-left: auto;
	margin-right: auto;
}
}

@media all and (min-width: 1241px) {
  /* rules that only apply for canvases wider than 1241px */
div#wrap
{
    width: 1240px;
	margin-left: auto;
	margin-right: auto;
}

header
{
	top: 50px;
	position: absolute;
}
}

/* NEWS TILES */
.tile
{
	padding: 0;
	margin: 5px;
	position: relative;
	float: left;
	width: 300px;
	height: 300px;
}

	.tile h3
	{
		color: #fff;
		border-right: 1px solid rgba(255,255,255,0.15);
		border-top: 1px solid rgba(255,255,255,0.15);
		position: absolute;
		right: 0;
		top: 0;
		padding: 0.1em 0.3em 0.1em 0.4em;
		margin: 0;
		font-weight: normal;
		font-size: 0.7em;
		text-transform: uppercase;
		/*display: none;*/
	}

		.tile:hover > h3
		{
			border-right: 1px solid rgba(255,255,255,0.3);
			border-top: 1px solid rgba(255,255,255,0.3);
		}
		
		.tile:hover > .tile-decoration
		{
			-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,0.3);
			-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,0.3);
			box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,0.3);
		}

.tile-decoration
{
	/* border */
    -webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,0.15);
    -moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,0.15);
    box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,0.15);
	width: 100%;
	height: 100%;
	/* gradient (generated with http://www.colorzilla.com/gradient-editor/) */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.8) 99%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.8) 99%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.8) 99%,rgba(0,0,0,0.8) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.8) 99%,rgba(0,0,0,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.caption
{
	vertical-align:bottom;
    bottom:0;
    position:absolute;
    right:0;
	margin: 0 7px 7px 7px;
}

.caption h1
{
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 1.2em;
	color: #fff;
	font-size: 1.3em;
	font-weight: 400;
	margin: 0 0 4px 0;
	text-shadow: 0.05em 0.05em #000;
}

.caption h2
{
	font-family: Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 0.8em;
	font-weight: normal;
	margin: 0;
}

/* SECTION TAGS */
.news
{
	background-color: #bd1e49;
}

.sports
{
	background-color: #d74f2a;
}

.arts
{
	background-color: #0091a5;
}

.opinion
{
	background-color: #9900a1;
}

.multimedia
{
	background-color: #004c9a;
}

.prime
{
	background-color: #66a0d2;
}

.blogs
{
	background-color: #009a00;
}

.classifieds
{
	background-color: #666666;
}

/* FOOTER */
footer
{
	clear: both;
	margin: 0 auto 0.8em auto;
	padding-top: 0.8em;
	color: #666;
	font-size: 0.8em;
	text-align: center;
	text-shadow: 0.1em 0.1em #000;
}

footer a
{
	color: #888;
}

footer a:hover
{
	color: #bbb;
}
