@import 'card';

$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$roboto_condensed: 'Roboto Condensed', sans-serif;

body {
    background-color: #222;
    font-family: $helvetica;
    margin: 0; border: 0; padding: 0;
}

a {
    text-decoration: none;
    color: #888;
}

article {
    $horizontal_padding: 15px;
    $width: 640px - ($horizontal_padding*2);
    padding: 0 $horizontal_padding;
    position: absolute;
    width: $width;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -$width/2 - $horizontal_padding;
    background-color: white;
    z-index: 100;
    box-shadow: 0 0 20px black;
    text-rendering: optimizeLegibility;
    overflow-y: scroll;
    font-size: 0.9em;

    p {
        line-height: 1.6;
    }
}

#mask {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0, 0.75);
    z-index: 90;
    transition: background-color 0.15s;
    cursor: pointer;

    &:hover {
        background-color: rgba(0,0,0, 0.6);
    }
}

.cards {
    text-align: center;
}
