@import 'card';

$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

body {
    background-color: #222;
    font-family: $helvetica;
    margin: 0; border: 0; padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: #888;
}
