<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="favicon.ico" rel="icon" type="image/x-icon" />
        <title>{% block title %}The Stack{% endblock %}</title>
        <meta name="description" content="Page description, shows up in search results. Should be no longer than 150-160 characters." />

        <!-- Open Graph -->
        <meta property="og:title" content="The title of this page, excluding any branding." />
        <meta property="og:site_name" content="Name of this website." />
        <meta property="og:url" content="Canonical URL of this page, excluding session and user-identifying variables." />
        <meta property="og:image" content="URL to an image for this page. Should be at least 1200x630 pixels." />

        <!-- CSS -->
        <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
        <link href="{{ STATIC_URL }}research/css/main.css" rel="stylesheet" type="text/css" />

        <!-- JavaScript -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
        <header>
            <a id="banner" href="{% url 'research_front' %}">
                <img src="http://placehold.it/350x100">
            </a>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'research_front' %}">Blog</a>
                    </li>
                    <li>
                        <a href="{% url 'research_projects' %}">Projects</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            Content copyright &copy; Daily Bruin
        </footer>
    </body>
</html>
