<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="favicon.ico" rel="icon" type="image/x-icon" />
        <title>{% block title %}The Stack{% endblock %}</title>
        <meta name="description" content="Page description, shows up in search results. Should be no longer than 150-160 characters." />

        <!-- CSS -->
        <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700|Roboto+Slab:400' rel='stylesheet' type='text/css'>
        <link href="{{ STATIC_URL }}research/css/main.css" rel="stylesheet" type="text/css" />

        <!-- JavaScript -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
        <header>
            <a id="banner" href="{% url 'research_front' %}">
                <img src="{{ STATIC_URL }}research/img/logo.svg"/>
                <h1>stack</h1>
                <span class="tagline">by the Daily Bruin</span>
            </a>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'research_front' %}">Blog</a>
                    </li>
                    <li>
                        <a href="{% url 'research_projects' %}">Projects</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            Content copyright &copy; <a href="http://dailybruin.com/">Daily Bruin</a>
        </footer>
    </body>
</html>
