{% extends "research/base.html" %}

{% load thumbnail %}


{% block content %}

<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <a href="{% url 'research_post' post.slug %}">
            {% thumbnail post.featured_image "960x320" crop="center" as im %}
            <img class="featured-image" src="{{ im.url }}">
            {% endthumbnail %}

            <h2>{{ post.title }}</h2>

            <span class="teaser">
                {{ post.teaser }}
            </span>
        </a>
        <span class="authors">
            by {{ post.get_pretty_authors }}
        </span>
    </li>
    {% endfor %}
</ul>

{% endblock %}
