{% extends "research/base.html" %}

{% load markdown_safe %}
{% load shortcodes %}
{% load thumbnail %}

{% block title %}{{ post.title }} | The Stack{% endblock %}

{% block content %}

<article>

    {% thumbnail post.featured_image "960" crop="center" as im %}
    <img class="featured-image" src="{{ im.url }}">
    {% endthumbnail %}

    <h1>{{ post.title }}</h1>
    <div class="post-info">
        <div class="authors">by {{ post.get_pretty_authors }}</div>
        <div class="published">{{ post.published }}</div>
    </div>

    <div class="post-body">
        {{ post.body|markdown_safe|image|safe }}
    </div>

</article>

{% endblock %}
