{% extends "research/base.html" %}

{% load markdown_safe %}
{% load shortcodes %}
{% load thumbnail %}

{% block title %}{{ project.name }} | The Stack{% endblock %}

{% block content %}

<article>

    {% thumbnail project.featured_image "960" crop="center" as im %}
    <img class="featured-image" src="{{ im.url }}">
    {% endthumbnail %}

    <h1>{{ project.name }}</h1>
    <div class="post-info">
        <div class="authors">by {{ project.get_pretty_authors }}</div>
        <div class="published">{{ project.published }}</div>
    </div>

    <div class="post-body">
        {{ project.description|markdown_safe|image|safe }}
    </div>

</article>

{% endblock %}
