{% extends "research/base.html" %}

{% load thumbnail %}

{% block content %}

<h1>Projects</h1>
<p class="lead">
    Description of projects Fusce vel gravida nisl. Aenean ut pellentesque justo, sed laoreet velit. Curabitur vulputate consequat dui, eget tincidunt tellus. Duis imperdiet erat sollicitudin lectus pellentesque, in rhoncus neque hendrerit.
</p>

<ul class="projects">
    {% for project in object_list %}

    <li class="project">
        <a href="{% url 'research_project' project.slug %}">
            {% thumbnail project.featured_image "220" crop="center" as im %}
            <img class="featured-image" src="{{ im.url }}">
            {% endthumbnail %}

            <h2>{{ project.name }}</h2>
        </a>
    </li>

    {% endfor %}
</ul>

{% endblock %}
