body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  text-decoration: none;
  box-shadow: inset 0 -1px 0 rgba(0, 128, 198, 0.4);
  border-bottom: 1px solid rgba(0, 128, 198, 0.4);
  color: #003c82; }
  a:hover {
    color: #0080c6; }

blockquote {
  background-color: rgba(0, 128, 198, 0.07);
  border-left: 2px solid #003c82;
  max-width: 640px;
  margin: 0 auto;
  padding: 1em 2em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif; }

h1 {
  font-size: 3em;
  margin: 0.25em 0; }

h2.project-type {
  margin: 2em 0 0; }

header {
  max-width: 960px;
  margin: 0 auto 1em;
  overflow: hidden; }
  header nav {
    float: right;
    margin-top: 1.5em; }
    header nav ul {
      list-style-type: none;
      padding: 0; }
      header nav ul li {
        font-size: 1.5em;
        display: inline-block;
        margin: 0 0.5em;
        font-weight: normal; }
    header nav a {
      border: 0;
      box-shadow: none; }
  header #banner {
    border: 0;
    box-shadow: none;
    display: block;
    float: left;
    text-align: center;
    width: 375px; }
    header #banner img {
      width: 100px;
      float: left; }
    header #banner h1 {
      margin-top: 0.4em;
      font-family: 'Cambay';
      font-weight: normal;
      color: black;
      font-size: 3.5em; }

article {
  margin: 2em 0; }
  article h1 {
    font-size: 3em;
    margin: 0.3em 0 0.6em; }
  article h2, article h3, article h4, article h5, article h6 {
    margin: 1.2em 0 0.6em; }
  article h2 {
    font-size: 2em; }
  article h3 {
    font-size: 1.8em; }
  article figure {
    margin: 2em 0; }
    article figure a {
      border: 0;
      box-shadow: none; }
    article figure figcaption {
      margin-top: 0.25em;
      color: gray; }
  article .featured-image {
    width: 100%; }
  article .post-info {
    float: right;
    margin: -1em 0 0.5em 1em;
    text-align: right; }
  article .authors {
    margin-bottom: 0.25em; }
  article .published {
    font-size: .7em;
    color: gray; }
  article .post-body p {
    max-width: 640px;
    font-size: 1.3em;
    line-height: 1.5;
    margin: 0.8em auto; }
  article .post-body > p:first-child:first-letter {
    float: left;
    font-size: 75px;
    line-height: 70px;
    padding: 4px 8px 0 3px;
    font-family: "Merriweather", serif; }

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em; }

ul.posts {
  margin: 0 auto;
  list-style-type: none;
  padding: 0; }
  ul.posts li.post {
    padding: 2em 0;
    overflow: hidden;
    border-bottom: 2px solid #ddd; }
  ul.posts a {
    color: initial;
    display: inline-block;
    border: 0;
    box-shadow: none; }
    ul.posts a:hover {
      color: #003c82; }
  ul.posts h2 {
    font-size: 3em;
    margin: 0.3em 0;
    line-height: 1.2; }
  ul.posts .featured-image {
    display: block;
    margin-bottom: 0.5em;
    width: 100%; }
  ul.posts .authors {
    margin-top: 0.5em;
    float: right; }

ul.projects {
  list-style-type: none;
  padding: 0; }
  ul.projects li {
    float: left;
    margin: 0.75em 0.5em; }
  ul.projects a {
    color: black;
    border: 0;
    box-shadow: none; }
    ul.projects a:hover {
      color: #003c82; }
  ul.projects h3 {
    margin: 0.25em 0; }

p.lead {
  display: block;
  font-size: 1.3em;
  color: #444;
  margin: 0.5em 0;
  line-height: 1.3; }

footer {
  max-width: 960px;
  margin: 3em auto;
  font-size: 0.8em;
  text-align: center;
  color: gray;
  clear: both; }

.authors {
  border-top: 2px solid #003c82;
  padding-top: 0.2em; }

@media (max-width: 640px) {
  header nav {
    clear: both;
    float: none;
    margin-top: 0.5em; }
    header nav ul {
      text-align: center; }
  header #banner {
    float: none; } }
@media (max-width: 480px) {
  article h1 {
    font-size: 2.5em; }
  article .post-body p {
    font-size: 1em; }

  ul.posts h2 {
    font-size: 2.5em; } }

/*# sourceMappingURL=main.css.map */
