$BODY_FONT: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$HEADLINE_FONT: 'Merriweather', serif;
$DB_BLUE: #0080c6;
$DARK_BLUE: $DB_BLUE - #444;

$LARGE_WIDTH: 960px;

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: $BODY_FONT;
}

a {
    text-decoration: none;
    box-shadow: inset 0 -1px 0 rgba($DB_BLUE, 0.4);
    border-bottom: 1px solid rgba($DB_BLUE, 0.4);
    color: $DARK_BLUE;

    &:hover {
        color: $DB_BLUE;
    }
}

blockquote {
    background-color: rgba($DB_BLUE, 0.07);
    border-left: 2px solid $DARK_BLUE;
    max-width: 640px;
    margin: 0 auto;
    padding: 1em 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $HEADLINE_FONT;
}

h1 {
    font-size: 3em;
    margin: 0.25em 0;
}

header {
    max-width: $LARGE_WIDTH;
    margin: 0 auto 1em;
    overflow: hidden;

    nav {
        float: right;
        margin-top: 1.5em;

        ul {
            list-style-type: none;
            padding: 0;

            li {
                font-size: 1.5em;
                display: inline-block;
                margin: 0 0.5em;
                font-weight: normal;
            }
        }

        a {
            border: 0;
            box-shadow: none;
        }
    }

    #banner {
        border: 0;
        box-shadow: none;
        display: block;
        float: left;
        text-align: center;
    }
}

article {
    margin: 2em 0;

    h1 {
        font-size: 3em;
        margin: 0.3em 0 0.6em;
    }

    h2, h3, h4, h5, h6 {
        margin: 1.2em 0 0.6em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.8em;
    }

    figure {
        margin: 2em 0;

        a {
            border: 0;
            box-shadow: none;
        }

        figcaption {
            margin-top: 0.25em;
            color: gray;
        }
    }

    .featured-image {
        width: 100%;
    }

    .post-info {
        float: right;
        margin: -1em 0 0.5em 1em;
        text-align: right;
    }

    .authors {
        margin-bottom: 0.25em;
    }

    .published {
        font-size: .7em;
        color: gray;
    }

    .post-body {
        p {
            max-width: 640px;
            font-size: 1.3em;
            line-height: 1.5;
            margin: 0.8em auto;
        }

        & > p {
            &:first-child:first-letter {
                float: left;
                font-size: 75px;
                line-height: 70px;
                padding: 4px 8px 0 3px;
                font-family: $HEADLINE_FONT;
            }
        }
    }
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1em;
}

ul.posts {
    margin: 0 auto;
    list-style-type: none;
    padding: 0;

    li.post {
        padding: 2em 0;
        overflow: hidden;
        border-bottom: 2px solid #ddd;
    }

    a {
        color: initial;
        display: inline-block;
        border: 0;
        box-shadow: none;

        &:hover {
            color: $DARK_BLUE;
        }
    }

    h2 {
        font-size: 3em;
        margin: 0.3em 0;
        line-height: 1.2;
    }

    .featured-image {
        display: block;
        margin-bottom: 0.5em;
        width: 100%;
    }

    .authors {
        margin-top: 0.5em;
        float: right;
    }
}

ul.projects {
    list-style-type: none;
    padding: 0;

    li {
        float: left;
        margin: 0.75em 0.5em;
    }

    a {
        color: black;
        border: 0;
        box-shadow: none;

        &:hover {
            color: $DARK_BLUE;
        }
    }

    h2 {
        margin: 0.25em 0;
    }
}

p.lead {
    display: block;
    font-size: 1.3em;
    color: #444;
    margin: 0.5em 0;
    line-height: 1.3;
}

footer {
    max-width: $LARGE_WIDTH;
    margin: 3em auto;
    font-size: 0.8em;
    text-align: center;
    color: gray;
}

.authors {
    border-top: 2px solid $DARK_BLUE;
    padding-top: 0.2em;
}

@import 'responsive';
