@media (max-width: 480px) {
    article {
        h1 {
            font-size: 2.5em;
        }

        .post-body {
            p {
                font-size: 1em;
            }
        }
    }

    ul.posts {
        h2 {
            font-size: 2.5em;
        }
    }
}
